* {
  margin: 0;
  padding: 0;
  
  
}

.navbar {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar li {
  display: inline-block;
  padding: 25px;
  color: white;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
}

.banner {
  padding: 65px 0 0 0;
  
}
 

.front h1 {
  font-family: Helvetica;
  font-size: 75px;
  font-weight: bold;
  color: khaki;
  padding: 0;
  margin: 40px 0;
}

.front {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1pd7afj*_ga*MzUyOTM2NzMzNS4xNzE0NjczMjE5*_ga_3LRZM6TM9L*MTcxNDY5MjcyMS41LjEuMTcxNDY5Mjg4NC41OC4wLjA.");
  background-position: cover;
  text-align: center;
  padding: 100px 0 200px 0;
  
  
}

.front a {
  font-family: Helvetica;
  padding: 15px 25px;
  margin: 40px 20px;
  background-color: #3d1e06;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #3d1e06;
}

.front a:hover {
  background-color: khaki;
  color: #3d1e06;
  transition: 0.3s;
  
}

.sec1 {
  font-family: Helvetica;
  background-color: #b6e3d5;
  margin: 80px 0;
  padding: 0 0 10px 0;
}

.sec1 h2 {
  
  font-size: 32px;
  font-weight: bold;
  color: khaki;
  background-color: #b6e3d5;
  padding: 20px 20px 20px 40px;
}

.contentsec1 {
  margin: 0px 50px 20px 50px;
  border: 1px solid #3b1c04;
  height: 280px;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}
.contentsec1 img{
  width: 250px;
  height: 260px;
  float: right;
  margin: 10px;
}

.contentsec1 h3{
  padding: 40px 0 0 40px;
  font-size: 30px;
}

.contentsec1 p {
  padding: 40px 0 0 40px;
}


.sec2 {
  font-family: Helvetica;
  background-color: #c7858b;
  margin: 80px 0;
  padding: 0 0 10px 0;
}
.sec2 h2 {
  font-size: 32px;
  font-weight: bold;
  color: khaki;
  padding: 20px 20px 20px 40px;
}

.contentsec2 {
  margin: 0px 50px 20px 50px;
  border: 1px solid #3b1c04;
  height: 280px;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}

.contentsec2 img{
  width: 250px;
  height: 260px;
  float: left;
  margin: 10px;
}

.contentsec2 h3{
  padding: 40px 0 0 40px;
  font-size: 30px;
}

.contentsec2 p {
  padding: 40px 0 0 40px;
}

.sec3 {
  font-family: Helvetica;
  background-color: #c7ecf2;
  margin: 80px 0;
  padding: 0 0 10px 0;
}

.sec3 h2 {
  font-size: 32px;
  font-weight: bold;
  color: khaki;
  padding: 20px 20px 20px 40px;
}

.contentsec3 {
  margin: 0px 50px 20px 50px;
  border: 1px solid #3b1c04;
  height: 280px;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}
.contentsec3 img{
  width: 250px;
  height: 260px;
  float: right;
  margin: 10px;
}

.contentsec3 h3{
  padding: 40px 0 0 40px;
  font-size: 30px;
}

.contentsec3 p {
  padding: 40px 0 0 40px;
}

span {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

section {
  font-family: Helvetica;
  margin: 50px 0;
}
